@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf);
}
html, body {
    margin: 0;
    padding: 0;
  }  
.flexy {
    display: flex;
    flex-direction: row;
}
.col1 {
    width: 30%;
    height: 100vh;
    background: url("images/plant.jpg");
    background-size: cover;
}
.odin {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img[alt=odin]{
    height: 90%;
}
.title{
    font-family: NorseBold, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 4rem;;
}

.col2 {
    width:70%;
    height:100vh;
}
.top {
    height: 30%;
    margin-top: -20px;
    background-color: #F0F0F0;
}
.top h2 {
    margin-left: 5%;
}
h2:first-child{
   padding-top: 130px;
}
form {
    height: 70%;
}
.form {
    height: 50%;
    background-color: #FFFFFF;
}
.bottom {
    height:50%;
    background-color: #F0F0F0;
}
button {
    background-color: #596D48;
    height: 3em;
    width: 11em;
    border-radius: 5px;
    color: #FFFFFF;
}